<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Modificar Experiencia</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form [formGroup]="userForm" >
			<div class="mb-3">
				<label>
					Id del usuario
					<input type="number" formControlName="idUser">
				</label>
				<label>
					Apellido
					<input type="text" formControlName="apellido">
				</label>
				<label>
					Nombre
					<input type="text" formControlName="nombre">
				</label>
				<label>
					Correo
					<input type="email" formControlName="email">
				</label>
				<label>
					Contraseña
					<input type="password" formControlName="password">
				</label>
                <label>
					Fecha de Ingreso
					<input type="text" formControlName="ingreso">                    
				</label>
                <label>
					Acerca de mí
					<input type="text" formControlName="aboutme">
				</label>
                <label>
					Foto
					<input type="text" formControlName="imagen">
				</label>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>


<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>

<hr />

<pre>{{ closeResult }}</pre>
<pre>{{usuarios | json}}</pre>
<!--
-->
