<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" href="../assets/icons/cv.png" type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="./main.component.scss">
    <link rel="stylesheet" href="./bootstrap/bootstrap.min.css" crossorigin="anonymous">
    <!--<link rel="stylesheet" href="../.. bootstrap-theme.min.css" crossorigin="anonymous">
    -->
    <script src="./bootstrap/bootstrap.min.js" crossorigin="anonymous"></script>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" type="text/css">
    <script src="https://kit.fontawesome.com/94c0117dd6.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    

    
    <title>{{dataSql.nombre}} | Personal Portfolio</title>

  </head>


    <header id="welcome-section">
        <nav id="navbar">
            <img src="../assets/icons/APLogo-20-20.png" alt="Logo de Argentina programa" class="logoHeader">
            <ul>
                <li><a href="https://api.whatsapp.com/send?phone={{contact.celular}}&text=%C2%A1Hola%20{{dataSql.nombre}}!%20Me%20gustar%C3%ADa%20ponerme%20en%20contacto%20para%20conocer%20m%C3%A1s%20sobre%20tu%20trabajo"
                        target="_blank"><i class="fa-brands fa-whatsapp"></i><span> Whatsapp</span></a></li>
                <li><a href="mailto:{{contact.email}}" target="_blank"><i class="fa-solid fa-envelope"></i>
                        <span> Email</span></a></li>
                <li><a href="{{contact.git}}" id="profile-link" target="_blank"><i
                            class="fa-brands fa-github"></i><span> Github</span></a></li>
                <li><a href="{{contact.link}}" target="_blank"><i class="fa-brands fa-linkedin"></i>
                        <span> Linkedin</span></a></li>                
                <li><a routerLink="/login" *ngIf="!loggeado"><i class="fa fa-sign-in"></i>
                        <span> Login</span></a></li>
                <li><button (click)="logOut()"  *ngIf="loggeado" class="btn btn-outline-primary"><i class="fa fa-sign-out"></i>
                        <span> LogOut</span></button></li>                
            </ul>

        </nav>
        <div class="welcome">
            <h1>{{dataSql.nombre}} {{dataSql.apellido}}</h1>
            <h2>{{contact.puesto}}</h2>
        </div>
    </header>
<body>
    <main>
        <section class="informacion">
            <div class="descripcion">
                
                <img src="http://localhost:8081/usuario/imagen/{{dataSql.picture}}" alt="Imagen"
                    class="fotoPerfil">
                <div class="descripcion__info">
                    <h2>{{ dataSql.nombre }} {{dataSql.apellido}}</h2>
                    <h3>{{contact.puesto}}</h3>
                    <h3 class="location">{{contact.pais}}, {{contact.provincia}}</h3>
                </div>
            </div>
            <div class="aboutMe">
                <div class="aboutMe__child">
                    <h3>Sobre mí</h3>
                    <p>{{dataSql.aboutme}}</p>
                        
                </div>
                <!--<button (click)="modificarAbout()" *ngIf="loggeado" class="btn btn-outline-primary" data-bs-toggle="modal">
                    <i class="fa-solid fa-pen"></i>
                </button>-->
                <app-usuario *ngIf="loggeado"></app-usuario>
            </div>
        </section>
        <section *ngFor="let tipo of aux ; let ii = index" class="contenedor">
            <div *ngIf="dict.get(tipo)" class="contenedor__barraTitulo">
                <h2>{{tipo}}</h2>
                <button *ngIf="loggeado" class="btn btn-outline-primary">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </div>
            <div *ngIf="dict.get(tipo)" >
            <div *ngFor="let exp of dict.get(tipo); let i = index" class="contenedor__child">
                <img src="./assets/icons/demisa.png" alt="Demisa">
                <div *ngIf="exp.detexp" class="descripcionPuesto">
                    <h3>{{exp.detexp.puesto}}</h3>
                    <h4 class="descripcionPuesto__info">{{exp.lugar}}</h4>
                    <h5 class="descripcionPuesto__info">{{exp.inicio | date:'yyyy'}} - {{exp.fin | date:'yyyy'}}</h5>
                    <p>                        
                        Descripcion: {{exp.detexp.descripcion}}
                    </p>
                </div>

                <div *ngIf="loggeado" class="iconosEdicion">
                    <button class="btn btn-outline-primary" (click)="modificarExp(tipo,i, dict)">
                        <i class="fa-solid fa-pen"></i>
                        <!-- <ng-template #contentExp let-modal> -->
                            <app-experiencia [message]="data" (actexpEvent)="actualizarExp($event)"></app-experiencia>
                        <!-- </ng-template> -->
                    </button>
                    <button class="btn btn-outline-primary" (click)="eliminarExp()">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </div>                
            </div>
            </div>
            
         
        </section>
        <section *ngIf="habilidades" class="contenedor">
            <div class="contenedor__barraTitulo">
                <h2>Hard y soft skills</h2>
                <button *ngIf="loggeado"><i class="fa-solid fa-plus"></i></button>
            </div>
            <div *ngFor=" let skills of habilidades let i = index" class="skills">
                <div>
                    <h3>{{skills.detalle}}</h3>
                    <div class="progress form-group">
                        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" aria-valuemin="0.0" aria-valuemax="100.0" role="progressbar" [style.width]="skills.porcentaje +'%'">
                             {{skills.detalle}} - {{skills.porcentaje}}%
                        </div>
                    </div>
                    <div *ngIf="loggeado" class="iconosEdicion">
                        <!-- <i class="fa-solid fa-pen"></i> -->
                        <app-skill [idskill]="skills.idskill" (messageEvent)="actualizarSkill($event,i)"></app-skill>
                        <i class="fa-solid fa-trash"></i>
                    </div>
                </div>

                
            </div>
            
        </section>
        <section *ngIf="proy" class="contenedor">
            <div class="contenedor__barraTitulo">
                <h2>Proyectos</h2>
                <i *ngIf="loggeado" class="fa-solid fa-plus"></i>
            </div>
            <div *ngFor="let proyecto of proy let j = index" class="contenedor__child">
                <img src="./assets/icons/dinero-05.gif" alt="Dólar Oficial Vs Dólar Blue">
                <div class="descripcionPuesto">
                    <h3><a href="{{proyecto.link}}" target="_blank">
                        {{proyecto.titulo}}
                    </a></h3>
                    <p>
                        {{proyecto.descripcion}}
                    </p>
                </div>
                <div *ngIf="loggeado" class="iconosEdicion">
                    <!-- <i class="fa-solid fa-pen"></i> -->
                    <app-proyectos [idproyecto]="proyecto.idproyecto" (proyEvent)="actualizarProy($event,j)" ></app-proyectos>
                    <i class="fa-solid fa-trash"></i>
                </div>
            </div>
 
        </section>

        <!-- Iconos -->
        <script src="https://kit.fontawesome.com/94c0117dd6.js" crossorigin="anonymous"></script>
    </main>
</body>

</html>
